.sidebar{
    height: calc(100vh-50px);
    overflow-y: scroll;
    overflow: hidden;
}
::-webkit-scrollbar{
    width: 5px;
}
::-webkit-scrollbar-track{
    background-color: #f3dfdf;
}
::-webkit-scrollbar-thumb{
    background-color: rgb(179, 179, 179);;
}




.sidebarWrapper{
    position: relative;
    padding: 20px;
}

.sidebarList{
    padding: 0;
    margin: 0;
    list-style: none;
}
.sidebarListItem{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.sidebarIcon{
    margin-right: 20px;
    
}
.sidebarListItem:hover{
    transition: ease-in-out 0.3s;
    scale: 1.1;
    margin-left: 10px;
}
.sidebarButton{
    width: 150px;
    border: none;
    padding: 15px 20px;
    border-radius: 2rem;
    font-weight: 600;
    color: black;
    background: rgba(8, 61, 237, 0.984);
    cursor: pointer;

}
.sidebarButton:hover{
    transition: ease-in-out 0.3s;
    scale: 1.1;
    color: white;
    background: rgba(55, 79, 232, 0.984);
}
.sidebarHr{
    margin: 20px 0;
}

.sidebarFriendList{
    padding: 0;
    margin: 0;
    list-style: none;
}
.sidebarFriend{
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}
.sidebarFriendImg{
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 15px;
}
